.container{
    height: 80vh;
    display: flex;
}
.json-tree-window{
    overflow-x: hidden;
    display: flex;
    width: 30%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 20px 20px 0;
    border: 2px solid black;
    margin-right: 20px;
}
.json-editor-window {
    overflow-x: hidden;
    padding: 20px;
    border: 2px solid black;
    width: 70%;
}
