.buttons-field{
    border-left: none;
    border-right: 1px solid black;
    text-align: right;
}
.button-container{
    display: flex;
    justify-content: flex-end;
}
.array-button{
    cursor: pointer;
    text-decoration: underline;
    margin: 0 5px 0 5px;
}

.edit{
    color: blue;
}
.delete{
    color: red;
}
.add{
    color: white;
}
