.add-field{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.add-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #000000;
}
.add-button:active{
    color: darkgray;
}
.MuiPaper-elevation1{
    box-shadow: none!important;
}
