.container{
    width: 80%;
    margin: 30px;
    display: flex;
    justify-content: end;
}
.hidden{
    display: none;
}
.json-editor-window{
    width: 70%;
    max-height: 80vh;
    overflow-x: hidden;
    padding-right: 10px;
}
