.edit-title-array{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.array-edit-container{
    margin-bottom: 20px;
}
