.array-container{
    margin: 20px 0 10px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2)
}
.title{
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.rev-icon{
    transform: rotate(180deg)
}
