.array-children{
    padding: 10px;
}

.array-item{
    margin: 10px 10px 0 0;
}
.rev-icon{
    transform: rotate(180deg)
}
.array-item .object-container{
    box-shadow: none;
    margin: 0;
}

.title{
    display: flex;
    align-items: center;
}

.field{
    width: 100%;
}
.array-child-container{
    margin: 0 10px 0 40px;
    border-left: 2px solid #ccc;
}
