.object-container .object-container .object-child-container{
    margin: 0 10px 0 20px;
    border-left: 2px solid #ccc;
}
.object-child-item{
 margin: 10px 0 0 0;
}
.title{
    display: flex;
    align-items: center;
}
.rev-icon{
    transform: rotate(180deg)
}
