.object-container .object-container .object-child-container{
    margin: 0 10px 0 20px;
}

.title{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rev-icon{
    transform: rotate(180deg)
}
.selected{
    color: blue;
}
.hidden{
    display: none;
}
