.object-container .object-container .object-child-container{
    margin: 0 10px 0 20px;
    /*border-left: 2px solid #ccc;*/
}
.object-child-item-editor{
 margin: 10px 0 0 0;
}
.edit-title{
    display: flex;
    align-items: center;
}
.rev-icon{
    transform: rotate(180deg)
}



