.object-container .object-container .object-child-container{
    margin: 0 10px 0 20px;
    /*border-left: 2px solid #ccc;*/
}
.object-child-item-editor{
 margin: 0 0 10px 0;
}
.edit-title{
    display: flex;
    align-items: center;
    height: 20px
}
.rev-icon{
    transform: rotate(180deg)
}
.object-edit-container{
    margin: 30px 0 30px 0;
}

