.breadcrumbs-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.breadcrumbs-word{
    font-size: 12px;
    color: blue;
    cursor: pointer;
}
.breadcrumbs-word:last-child{
    color: black;
}
